<% provide :title, @user.name %>
<div class="row">
  <div class="col-md-12  mt-20">
    <div class="panel panel-default">
      <div class="panel-heading"> <span class="glyphicon glyphicon-user"></span> 用户信息</div>
      <table class="table">
        <tr>
          <td rowspan="4" style="width: 20%;">
            <h1 class="text-center">
              <%= gravatar_for @user, "garavatar gravatar-lg" %>
            </h1>
            <h3 class="text-center"><%= @user.name %></h3>
          </td>
          <th>邮箱</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>电话</th>
          <td><%= @user.telephone %></td>
        </tr>
        <tr>
          <th>角色</th>
          <td><%= @user.role %></td>
        </tr>
        <tr>
          <th>魔扫应用</th>
          <td>
            <% if @user.app.blank? %>
              ---
            <% else %>
              <%= link_to @user.app.file.filename, @user.app.url %>
            <% end %>
            <div id="fileuploader"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12">
    <%= render partial: "gallery" %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(function(){
        // 上传app
        $("#fileuploader").uploadFile({
            url: "<%=app_user_path(@user)%>",
            fileName: "app",
            headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
            statusBarWidth: "100%",
            dragdropWidth: "100%",
            dragDropStr: "<span><b>拖拽文件到此出上传</b></span>",
            uploadButtonClass: "btn btn-success btn-sm",
            uploadStr: "上传",
            allowedTypes: "apk",
            extErrorStr: "不支持此格式文件上传. 支持的文件格式为: ",
            maxFileSize: 100 * 1024 * 1024, //10M
            sizeErrorStr: "文件过大，上传文件最大: ",
            maxFileCount: 1,
        });
    });
</script>
