<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Digital Gallery", root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "首页", root_path %></li>
        <li><%= link_to "客户", clients_users_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", "#" %></li>
              <li><%= link_to "Settings", "#" %></li>
              <li class="divider"></li>
              <li><%= link_to "退出", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "登录", login_path %></li>
          <li><%= link_to "注册", signup_path %></li>
        <% end %>

        <li><%= link_to "帮助", help_path %></li>
      </ul>
    </nav>
  </div>
</header>
