<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= full_title yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>

    <%if current_page?(controller: "static_pages", action: "home")%>
      <%= yield :home%>
    <%else%>
      <div class="main container">
        <%= yield %>

        <div class="footer container">
          <%= render "layouts/footer" %>
          <%= debug params if Rails.env.development? %>
        </div>
      </div>
    <% end %>
  </body>

  <script type="text/javascript" charset="utf-8">
    $(function(){
        <% flash.each do |message_type, message| %>
        toastr["<%=message_type%>"]("<%=message%>", {timeOut: 5000});
        <% end %>
    })
  </script>
</html>
